# SUPABASE CONFIGURATION
# Replace these with your Supabase Project Settings -> API credentials
NEXT_PUBLIC_SUPABASE_URL=https://umypvjptfleqyigzvolm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVteXB2anB0ZmxlcXlpZ3p2b2xtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4Mjk3NTgsImV4cCI6MjEwMjQwNTc1OH0.knC5hhndCJtbk1BUu5Z1sxVjjjvhyOI5gQUpEiR8txI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVteXB2anB0ZmxlcXlpZ3p2b2xtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjgyOTc1OCwiZXhwIjoyMTAyNDA1NzU4fQ.J5H1djbBSmj56Y-WtgkEJw5R-KlV9WgOrQoxGazJCtI
